@page {
  margin: 27mm 16mm 27mm 16mm;
  size: 210mm 297mm;
  @bottom { content: flow(footer); }
}

*{word-wrap: break-word;hyphens:auto;}

table, blockquote, pre, div.CodeRay, .sidenote { 
  page-break-inside: avoid;
}

.CodeRay, .CodeRay pre {
  overflow: hidden !important;
}

div.page{display:inline;float:right;}

#footer {
  flow: static(footer);
}

