html{margin:0;font:10pt/1.5 "Helvetica Neue";color:#333;}
#wrap{margin:0 0 0 28%;}

/* headers */
h1,h2,h3,h4,h5,h6{font-family:"Helvetica Neue";margin:2em 0 0.5em 0;page-break-after:avoid;}
h1{padding:0em 0 1em 0;margin:0;font-size:3em;font-weight:100;font-family:'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Helvetica,sans-serif;}
h2{font-size:1.2em;text-transform:uppercase;font-weight:bold;}
h3{font-size:1em;font-weight:bold;}

/* quotes */
q::before{content:"\201C";}
q::after{content:"\201D";}

/* misc */
p{margin:0;margin-bottom:.8em;}
a{color:black}
a img{border:none;}

ol,ul,dl{margin:0;padding:0;padding-left:1.5em;}
li{margin-bottom:.8em;}
ol li ol{list-style-type:none;margin-top:1em;padding-left:1em;}
ol li ul{margin-top:.8em;}
ol li ul li{margin-bottom:.1em;}

/* sidenotes */
.sidenote{
  float:left;
  clear:left;
  margin:0 0 1em -40%;
  width:36%;
  font-style:normal;
  text-indent:0;
  text-align:right;
  color:#888;
  }

#article{padding-bottom:7em;}
#wrap{position:relative;}
#footer{
  position: absolute;
  margin:0;
  bottom: 0;
  right: 0;
  left: 0;}
#footer img{vertical-align:middle;}
#footer a{margin-right:2em;}

/* code */
code, pre{font-family:'Menlo',monospace;color:#000;}
